<!DOCTYPE html>
<html>

<head>
    <title>Profile</title>
    <link rel="stylesheet" href="../styles/profile.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
</head>

<body>

    <div class="dashboard">
        <aside class="sidebar">

            <div class="sidebar-logo">
                <h1>
                    REBOOT
                    <span>01</span>
                </h1>
            
                <p>STUDENT DASHBOARD</p>
            </div>
            
            <nav class="sidebar-menu">
            
                <button class="menu-item" id="profileBtn">
                    Profile
                </button>

                <button class="menu-item active" id="dashboardBtn">
                    Dashboard
                </button>
                
            
            </nav>
            
            <button id="logoutBtn" class="logout-btn">
                <i class="fa-solid fa-arrow-right-from-bracket"></i>
                Logout
            </button>
        </aside>

        

        <main class="content">

            <!-- Dashboard Section -->
            <section id="dashboardSection">
                <section class="welcome-section">
                    <div class="welcome-text">
                        <h1>
                            Welcome back,
                            <span id="welcomeUsername">Username</span> 
                        </h1>
                    
                        <p>
                            Here is your overview and statistics.
                        </p>
                    </div>
                </section>

                <section class="stats-cards">
                

                    <div class="xp-card">
                        
                        <h3>XP Information</h3>
                        
                        <div class="xp-content">
                        
                            <div class="xp-circle">
                                XP
                            </div>
                        
                            <div class="xp-details">
                        
                                <div>
                                    <p>Total XP</p>
                                    <h1 id="totalXP"></h1>
                                </div>
                                
                                <div class="divider"></div>
                                
                                <div>
                                    <p>Level</p>
                                    <h1 id="userLevel"></h1>
                                </div>
                        
                            </div>
                        
                        </div>
                    </div>

                    <div class="audit-card">
                    
                        <h3>Audit Information</h3>
                    
                        <div class="audit-content">
                    
                            <div class="audit-icon">
                                <svg xmlns="http://www.w3.org/2000/svg" width="80" height="80" viewBox="0 0 24 24">
                                
                                    <rect x="3" y="11" width="4" height="9" fill="#3b82f6" />
                                    <rect x="10" y="8" width="4" height="12" fill="#3b82f6" />
                                    <rect x="17" y="4" width="4" height="16" fill="#3b82f6" />
                                
                                </svg>
                            </div>
                    
                            <div class="audit-details">
                            
                                <div class="audit-block">
                                    <p>Audit Ratio</p>
                                    <h1 id="auditRatio"></h1>
                                </div>
                            
                                <div class="stats-divider"></div>
                            
                                <div class="audit-block">
                                    <p>Total Up</p>
                                    <h2 id="totalUp"></h2>
                                </div>
                            
                                <div class="stats-divider"></div>
                            
                                <div class="audit-block">
                                    <p>Total Down</p>
                                    <h2 id="totalDown"></h2>
                                </div>
                            
                            </div>
                    
                        </div>
                    
                    </div>
                </section>

                <section class="charts">

                    <div class="line-xp-chart">
                        <h3>XP Progress Over Time</h3>
                        <div id="xpChart"></div>
                    </div>

                    <div class="pass-fail-chart">
                        <h3>Project Results</h3>
                        <div class="chart-legend">
                        
                            <div class="legend-item">
                                <div class="legend-color passed"></div>
                                <span>Passed</span>
                            </div>
                        
                            <div class="legend-item">
                                <div class="legend-color failed"></div>
                                <span>Failed</span>
                            </div>
                        
                        </div>
                        
                        <div id="projectChart"></div>
                    </div>
                </section>
            </section>


            <!-- Profile Section -->
            <section id="profileSection" style="display:none;">
            
                <div class="profile-banner">
            
                    <div class="profile-overlay">
            
                        <div class="avatar">
                            O
                        </div>
            
                        <div class="profile-header-info">
                            <h1 id="profileName">osessa</h1>
                            <p id="profileUsername">@osessa</p>
                        </div>
            
                    </div>
            
                </div>
            
                <div class="profile-card">
            
                    <h2>Personal Information</h2>
            
                    <div class="info-row">
                        <span>User ID</span>
                        <span id="profileId"></span>
                    </div>
            
                    <div class="info-row">
                        <span>Username</span>
                        <span id="profileLogin"></span>
                    </div>
            
                    <div class="info-row">
                        <span>Email</span>
                        <span id="profileEmail"></span>
                    </div>
            
                    <div class="info-row">
                        <span>Member Since</span>
                        <span id="profileCreatedAt"></span>
                    </div>
            
                </div>
            
            </section>
        </main>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="../js/auth.js"></script>
    
    <script src="../js/charts.js"></script>
    
    <script src="../js/dashboard.js"></script>
    
    <script src="../js/profile.js"></script>

</body>

</html>