* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;

    font-family: Arial, sans-serif;

    background: linear-gradient(135deg,
            #050816,
            #0f172a,
            #1a103d);

    color: white;
}

.container {
    min-height: 100vh;

    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;

    gap: 25px;
}

/* ================= LOGO ================= */

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo img {
    width: 150px;
    height: auto;
}

/* ================= HEADER ================= */

.header {
    text-align: center;
}

.header h1 {
    font-size: 50px;
    margin-bottom: 10px;
}

.header h2 {
    font-size: 1.3rem;
    font-weight: normal;
    color: #94a3b8;
}

/* ================= LOGIN CARD ================= */

.login-card {
    width: 520px;

    padding: 40px;

    border-radius: 20px;

    background: rgba(30, 41, 59, 0.75);

    backdrop-filter: blur(10px);

    border: 1px solid rgba(255, 255, 255, 0.1);

    box-shadow:
        0 0 25px rgba(0, 0, 0, 0.3);
}

.Welcome {
    text-align: center;

    margin-top: 20px;
    margin-bottom: 20px;
}

.Welcome h3 {
    font-size: 35px;

    padding-bottom: 10px;
}

.Welcome p {
    color: #94a3b8;

    font-size: 20px;

    padding-bottom: 20px;
}

/* ================= FORM ================= */

.form-title {
    text-align: center;
    margin-bottom: 30px;
}

.form-title h3 {
    font-size: 2rem;
    margin-bottom: 10px;
}

.form-title p {
    color: #94a3b8;
}

.login-form {
    display: flex;
    flex-direction: column;

    gap: 15px;
}

.login-form div {
    display: flex;
    flex-direction: column;
}

.login-form label {
    margin-bottom: 10px;

    color: #cbd5e1;

    font-size: 17px;
}

.login-form input {
    background-color: #111827;

    color: white;

    border: 1px solid #374151;

    border-radius: 12px;

    padding: 15px;

    font-size: 17px;

    outline: none;
}

.login-form input:focus {
    border-color: #7c3aed;
}

#errorMessage {
    color: #ef4444;

    text-align: center;

    font-size: 17px;
}

/* ================= INPUT BOX ================= */

.input-box {
    display: flex !important;
    flex-direction: row !important;
    align-items: center;

    background-color: #111827;

    border: 1px solid #374151;

    border-radius: 12px;

    padding: 0 15px;
}

.input-box input {
    flex: 1;

    background: transparent;

    border: none;

    color: white;

    padding: 15px 10px;

    outline: none;
}

.input-box i {
    color: #94a3b8;
    font-size: 16px;
}

#togglePassword {
    cursor: pointer;
}

/* ================= LOGIN BUTTON ================= */

#loginBtn {
    margin-top: 10px;

    padding: 15px;

    border: none;

    border-radius: 12px;

    background: linear-gradient(90deg,
            #9333ea,
            #4f46e5,
            #3b82f6);

    color: white;

    font-size: 18px;
    font-weight: bold;

    cursor: pointer;

    transition: 0.3s;
}

#loginBtn:hover {
    transform: translateY(-2px);
    opacity: 0.95;
}

/* ================= OR SECTION ================= */

.or-section {
    display: flex;
    align-items: center;
    justify-content: center;

    gap: 20px;

    margin: 25px 0;

    color: #94a3b8;
}

.or-section h3 {
    color: white;
}

.or-section::before,
.or-section::after {
    content: "";

    width: 150px;
    height: 1px;

    background-color:
        rgba(255, 255, 255, 0.15);
}

/* ================= LOGIN INFO ================= */

.login-info {
    text-align: center;

    margin-top: 30px;

    color: #cbd5e1;
}

.login-info p {
    font-size: 20px;
}

.login-info-username-password {
    margin-top: 5px;

    font-size: 20px;
    font-weight: 550;
}

/* ================= SECURITY NOTE ================= */

.security-note {
    width: 520px;

    display: flex;
    justify-content: center;
    align-items: center;

    gap: 15px;

    padding: 20px;

    border-radius: 15px;

    background:
        rgba(30, 41, 59, 0.55);

    border:
        1px solid rgba(255, 255, 255, 0.08);

    text-align: center;

    font-size: 18px;
}

.security-note i {
    color: #9333ea;
    font-size: 22px;
}

/* ================= FOOTER ================= */

.footer {
    color: #94a3b8;
    font-size: 18px;
}